body {
  background-color: #505050;
}

#coverlink {
  text-decoration: none;
}

#coverlink:hover, #coverlink:active, #coverlink:focus {
  outline: 0;
}

#covertitle:hover {
  box-shadow:0 0 15px #FFFFCC;
}

#covertitle:hover > h1 span {
  font-size: 51px;
  text-shadow: 0 0 20px black;
}

#covertitle:hover > h1 b {
  font-size: 53px;
  text-shadow: 0 0 5px black;
}


#covertitle:hover > h4 {
  font-size: 24px;
  text-shadow: 0 0 10px black;
}



#covertitle {
  background-color: #303030;
  border-radius: 25px;
  box-shadow:0 0 10px #FFFFCC;
  width: 800px;
  margin-left: -100px;
}

/*#covertitle button {
  margin-bottom: 25px;
}*/

#covertitle h1 {
  padding-top: 20px;
}

#covertitle h4 {
  padding-bottom: 25px;
  color: #FFFFCC;
}

#covertitle b {
  color: #FF0033;
  font-size: 52px;
  text-shadow: 0 0 1px black;
}

#covertitle span {
  color: #FFFFCC;
  font-size: 50px;
  text-shadow: 0 0 4px black;
}

.navbar .fa {
  font-size: 35px;
  color: white;
  cursor: pointer;
}

.navbar .fa:hover {
  color: gray;
}

.navbar {
  background-color: #303030;
}

#editors h4, #content h4 {
  font-size: 26px;
}

#editors a, #content a {
  text-decoration: none;
}

#navtoggle .fa {
  margin-left: 20px;
}

#booktitle {
  margin-top: -9px;
  margin-bottom: -8px;
}

#navbarHeader {
  margin-bottom: -20px;
}

#navbarHeader h4, #navbarHeader a, #navbarHeader p{
    color: white;
}

#chapnav .nav-item {
  margin-right: 30px;
}

#chapnav .active {
  background-color: #DCDCDC;
}

#chapnav {
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: -65px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;

}

.collapse {
  background-color: #505050;
}

#booktitle b {
  color: #FF0033;
  font-weight: 900;
  font-size: 28px;
}

#booktitle span {
  color: #FFFFCC;
  font-weight: 400;
  font-size: 26px;
}

.modal-header {
  font-size: 28px;
}

.modal-header a:hover {
  color: gray !important;
}

.modal-header a {
  text-decoration: none;
}

#textcontent {
  font-size: 25px;
  background-color: #F0F0F0;
}

#textcontent p {
  margin-left: -60px;
  margin-right: 25px;
  margin-top: 25px;
}

#chapterthumbs .row {
  margin-top: 40px;
}

@media (min-width: 991px) {

  .modal-dialog {
    right: 18%;
  }

}
